#uname-style {
    font-size: 20px;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: "center";
}
#gallery-display {
    display: block;
    width: 150px;
    margin: 10px auto;
    border-radius: 50%;
}

#uname-style {
    font-size: 20px;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
}

textarea {
    resize: none;
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    width: 80%;
    height: 75px;
}

input[type=text] {
    width: 80%;
}