.bg-cover {
    background-image: url("../images/bg3.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.center-content {
    justify-content: center;
    display: flex;
}

.vertical-center {
    margin: auto;
}

.form-signin {
    padding: 16px 16px;
    text-align: center;
    border-radius: 5%;
}

.form-signin:hover {
    box-shadow: 5px 5px #000000aa;
}

.form-signin input {
    margin-bottom: 10px;
}

.vertical-space-10 {
    margin-bottom: 10px;
}