.center-content {
    margin: auto;
    height: 70%;
}

.modal-lg input {
    margin: auto;
    margin-bottom: 16px;
    width: 98%;
}

.modal-lg:hover {
    box-shadow: 5px 5px #000000aa;
}